
.Task {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 20px 15px;
  width: 20vw;
  padding: 25px;
  background-color: #68859de1;
  border-radius: 10px;
}

.Tasks {
  text-align: center;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content:first baseline;
  align-items: center;
  flex-wrap: wrap;


}